body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.block__tasks__list {
  padding: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.block__list-item-link {
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.block__list-item-link:hover {
  color: blue;
}

/* form */
